body::before{
    display: block;
    content: '';
    height: 60px;
}

.logo{
    width: 70px;
    height: 70px;
}

@media (min-width: 768px){
    .news-input{
        width: 50% ;
    }
}